<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <bindingRedirects>
    <add key="skip" value="False" />
  </bindingRedirects>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="myget" value="https://www.myget.org/F/aspnetvnext/api/v3/index.json" />
    <add key="InfoTrackProget" value="https://proget.infotrack.com.au/nuget/global" />
    <add key="InfotrackOld" value="http://nuget.infotrack.com.au/api/v2" />
  </packageSources>
  <packageSourceCredentials>
    <InfoTrackProget>
      <add key="Username" value="svc-build" />
      <add key="ClearTextPassword" value="5ummer2015!" />
    </InfoTrackProget>
  </packageSourceCredentials>
</configuration>