
.sendNav {
    margin-top: 10px;
}

.topNav {
  background: #166D83;
  z-index: 0;
}

.topNavDone {
  background: #7b838a;
  z-index: 0;
}

.btnSend {
  text-align: center;
}

// .acceptNav,
// .rejectNav
// { 
//   margin-top: 10px;
// }

.toolbarIcon {
  margin-top: 14px;
  display: inline-block;
}

.toolbarLogo {
  width: 121px;
  height: 30px;
}

.toolbarImage {
  width: 32px;
  height: 31px;
  margin-right: 8px;
}

.toolbarButton {
  cursor: pointer;
  width: 123px;
  padding-left: 26px;
}

.toolbarButtonPS {
  cursor: pointer;
  width: 123px;
}

.toolbarButtonGroup {
  text-align: right;
  position: relative;
  left: 2.2%;
}

.toolbarContent {
  margin-left: auto;
  margin-right: auto;
}

.toolbarAddress {
  margin-left: 8.5%;
  margin-top: 17px;
}

.btnSendImagSpan {
  color: #FFF;
}

.extendWidth {
  width: 10%;
}

.emailBar {
  width:200px;
}

.emailBarWidth {
  margin-top: 11px;
}

.emailBarWidthForVsNew {
  margin-top: 10px;
}

.emailBarWidthForPsSend {
  margin-top: 11px;
}

.emailBarWidthForPsInitial {
  margin-top: 12px;
}

.emailBarAddress {
  height: 29px;
  border-radius: 0px;
  &:focus{
    box-shadow: none;
    border-color: #ccc;
  }
}

.emailBarSendBtn {
  border-radius: 0px;
  height: 29px;
  width: 63px;
  padding: 2px;
}

.utlFadeIn {
  display: block;
}

.utlFadeOut {
  display: none;
}

.utlFadeInline {
  display: inline;
}

.utlVisible {
  visibility: visible
}

.utlInvisible {
  visibility: hidden
}
